USE [master]

GO

/****** Object:  Database [NhaSach]    Script Date: 11/4/2024 1:29:06 PM ******/

CREATE DATABASE [NhaSach]

 CONTAINMENT = NONE

 ON  PRIMARY 

( NAME = N'NhaSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NhaSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )

 LOG ON 

( NAME = N'NhaSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NhaSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )

 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF

GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))

begin

EXEC [NhaSach].[dbo].[sp_fulltext_database] @action = 'enable'

end

GO

ALTER DATABASE [NhaSach] SET  DISABLE_BROKER 

GO

ALTER DATABASE [NhaSach] SET  MULTI_USER 

GO

USE [NhaSach]

GO

/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[CHITIETDONHANG](

	[ID] [int] IDENTITY(1,1) NOT NULL,

	[MaDonHang] [int] NULL,

	[MaSanPham] [int] NULL,

	[SoLuong] [int] NULL,

 CONSTRAINT [PK_Chitietdonhang] PRIMARY KEY CLUSTERED 

(

	[ID] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[DANHGIA]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[DANHGIA](

	[ID] [int] IDENTITY(1,1) NOT NULL,

	[MaKH] [int] NOT NULL,

	[MaSanPham] [int] NOT NULL,

	[NoiDung] [nvarchar](max) NOT NULL,

	[NgayTao] [datetime] NOT NULL,

	[SoSao] [int] NOT NULL,

 CONSTRAINT [PK__DANHGIA__3214EC270CEFD573] PRIMARY KEY CLUSTERED 

(

	[ID] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[DONHANG]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[DONHANG](

	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,

	[DiaChi] [nvarchar](max) NULL,

	[TrangThai] [int] NULL,

	[NgayDat] [datetime] NULL,

	[ID] [int] NULL,

	[TrangThaiThanhToan] [int] NOT NULL,

	[PhuongThucThanhToan] [int] NOT NULL,

	[TongTien] [int] NOT NULL,

	[MaKM] [varchar](15) NULL,

	[MaNVXuLy] [int] NULL,

 CONSTRAINT [PK_Donhang] PRIMARY KEY CLUSTERED 

(

	[MaDonHang] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[KHACHHANG](

	[MaKH] [int] IDENTITY(1,1) NOT NULL,

	[Ten] [nvarchar](max) NULL,

	[Email] [nvarchar](max) NULL,

	[MatKhau] [nvarchar](max) NULL,

	[SoDienThoai] [varchar](10) NULL,

	[DiaChi] [nvarchar](255) NULL,

	[NgayTao] [datetime] NULL,

	[TrangThai] [bit] NULL,

	[RefreshToken] [nvarchar](500) NULL,

	[TokenExpiration] [datetime] NULL,

	[AccessToken] [nvarchar](500) NULL,

 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 

(

	[MaKH] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[KHUYENMAI](

	[ID] [int] IDENTITY(1,1) NOT NULL,

	[TenChuongTrinh] [nvarchar](100) NOT NULL,

	[MaKM] [varchar](15) NOT NULL,

	[MoTa] [nvarchar](max) NOT NULL,

	[NgayTao] [datetime] NOT NULL,

	[NgayBatDau] [datetime] NOT NULL,

	[NgayKetThuc] [datetime] NOT NULL,

	[SoTienKM] [int] NOT NULL,

	[SoTienMuaHangToiThieu] [int] NOT NULL,

	[SoLanDung] [int] NOT NULL,

	[KichHoat] [bit] NOT NULL,

PRIMARY KEY CLUSTERED 

(

	[ID] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],

UNIQUE NONCLUSTERED 

(

	[MaKM] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[LOAI]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[LOAI](

	[Maloai] [int] IDENTITY(1,1) NOT NULL,

	[Tenloai] [nvarchar](max) NULL,

 CONSTRAINT [PK_Theloai] PRIMARY KEY CLUSTERED 

(

	[Maloai] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

CREATE TABLE [dbo].[TACGIA](

	[MaTacGia] [int] IDENTITY(1,1) NOT NULL,

	[TenTacGia] [nvarchar](150) NOT NULL,

	[TieuSu] [nvarchar](max) NULL,

 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED ([MaTacGia] ASC)

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

CREATE TABLE [dbo].[NHAXUATBAN](

	[MaNXB] [int] IDENTITY(1,1) NOT NULL,

	[TenNXB] [nvarchar](150) NOT NULL,

	[ThongTinLienHe] [nvarchar](250) NULL,

 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED ([MaNXB] ASC)

) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[NHANVIEN](

	[MaNV] [int] IDENTITY(1,1) NOT NULL,

	[Email] [nvarchar](max) NULL,

	[MatKhau] [nvarchar](max) NULL,

	[Quyen] [int] NOT NULL,

	[Ten] [nvarchar](100) NULL,

	[NgayTao] [datetime] NULL,

	[TrangThai] [bit] NULL,

 CONSTRAINT [PK_Phanquyen] PRIMARY KEY CLUSTERED 

(

	[MaNV] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/4/2024 1:29:06 PM ******/

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [dbo].[SANPHAM](

	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,

	[TenSanPham] [nvarchar](max) NULL,

	[Gia] [decimal](18, 0) NULL,

	[MoTa] [nvarchar](max) NULL,

	[TacGia] [nvarchar](max) NULL,

	[Anh] [nvarchar](max) NULL,

	[MaLoai] [int] NULL,

	[SoLuongBan] [int] NOT NULL,

	[SoLuong] [int] NOT NULL,

	[MaNVTao] [int] NULL,

 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 

(

	[MaSanPham] ASC

)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [DF__DANHGIA__NgayTao__44FF419A]  DEFAULT (getdate()) FOR [NgayTao]

GO

ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TongTien]

GO

ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayTao]

GO

ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayBatDau]

GO

ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (getdate()) FOR [NgayKetThuc]

GO

ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((1)) FOR [KichHoat]

GO

ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_TrangThai]  DEFAULT ((1)) FOR [TrangThai]

GO

ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuongBan]

GO

ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuong]

GO

ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_Chitietdonhang_Donhang] FOREIGN KEY([MaDonHang])

REFERENCES [dbo].[DONHANG] ([MaDonHang])

GO

ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_Chitietdonhang_Donhang]

GO

ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_Chitietdonhang_Sanpham] FOREIGN KEY([MaSanPham])

REFERENCES [dbo].[SANPHAM] ([MaSanPham])

GO

ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_Chitietdonhang_Sanpham]

GO

ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([MaKH])

REFERENCES [dbo].[KHACHHANG] ([MaKH])

GO

ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]

GO

ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_SANPHAM] FOREIGN KEY([MaSanPham])

REFERENCES [dbo].[SANPHAM] ([MaSanPham])

GO

ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_SANPHAM]

GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_Donhang_Khachhang] FOREIGN KEY([ID])

REFERENCES [dbo].[KHACHHANG] ([MaKH])

GO

ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_Donhang_Khachhang]

GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHUYENMAI] FOREIGN KEY([MaKM])

REFERENCES [dbo].[KHUYENMAI] ([MaKM])

GO

ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHUYENMAI]

GO

ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MaNVXuLy])

REFERENCES [dbo].[NHANVIEN] ([MaNV])

GO

ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]

GO

ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHANVIEN] FOREIGN KEY([MaNVTao])

REFERENCES [dbo].[NHANVIEN] ([MaNV])

GO

ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHANVIEN]

GO

ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_Theloai] FOREIGN KEY([MaLoai])

REFERENCES [dbo].[LOAI] ([Maloai])

GO

ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_Sanpham_Theloai]

GO

ALTER TABLE [dbo].[SANPHAM] WITH CHECK ADD CONSTRAINT [FK_Sanpham_Tacgia] FOREIGN KEY([MaTacGia])

REFERENCES [dbo].[TACGIA] ([MaTacGia])

GO

ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_Sanpham_Tacgia]

GO

ALTER TABLE [dbo].[SANPHAM] WITH CHECK ADD CONSTRAINT [FK_Sanpham_NhaXuatBan] FOREIGN KEY([MaNXB])

REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])

GO

ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_Sanpham_NhaXuatBan]

GO

USE [master]

GO

ALTER DATABASE [NhaSach] SET  READ_WRITE 

GO